<h1><%= @word.name %>:</h1>
<% @word.definitions.each do |definition| %>
<h2>Definition<%=@word.definitions.index(definition) + 1%>: <%= definition %></h2>
<% end %>

<form action="/<%=@word.name %>" method="post">
  <input type="text" name="definition">
  <button type="submit">Add Definition!</button>
</form>

<br>
<a href="/">Return Home</a>
